@import "tailwindcss";

:root {
  /* PriméD'or Brand Palette */
  --background: #fbf4da;
  /* Cream (Secondary 30% for brightness) */
  --foreground: #735F43;
  /* Dark Brown (Accent 10% for text) */

  --primary-gold: #C59659;
  /* Main Gold (Primary 60%) */
  --primary-gold-hover: #AA955F;

  --brand-yellow: #EEC462;
  --brand-beige: #E9D4B9;
  --brand-brown: #735F43;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-gold: var(--primary-gold);
  --color-primary-gold-hover: var(--primary-gold-hover);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-beige: var(--brand-beige);
  --color-brand-brown: var(--brand-brown);

  --font-serif: var(--font-forest-local);
  --font-sans: var(--font-darker-local);
  --font-forest: var(--font-forest-local);
  --font-darker: var(--font-darker-local);
  --font-daytonia: var(--font-daytonia-local);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-darker);
}

p {
  text-align: justify;
}